argcomplete==3.6.2
beautifulsoup4==4.13.4
cffi==1.17.1
charset-normalizer==3.4.1
cockpit @ file:///builddir/build/BUILD/cockpit-344-build/cockpit-344/tmp/wheel/cockpit-344-py3-none-any.whl#sha256=6c0da7c2cbfb1207f38f238b3011ff193c786540a0404088b52184bb35356ba0
dasbus==1.7
dbus-python==1.3.2
distro==1.9.0
dnf==4.23.0
idna==3.10
libcomps==0.1.21
libdnf==0.74.0
nftables==0.1
packaging==24.2
pexpect==4.9.0
ply==3.11
ptyprocess==0.7.0
pycparser==2.20
PyGObject==3.50.0
python-augeas==1.2.0
PyYAML==6.0.2
requests==2.32.4
rpm==4.20.1
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35-build/setroubleshoot-3.3.35/src
setuptools==74.1.3
six==1.17.0
sos==4.9.1
soupsieve==2.7
systemd-python==235
typing_extensions==4.14.1
urllib3==2.3.0
